<!DOCTYPE html>

<html>

<head>
    <title>Vehicle Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" integrity="sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-info" >
    <div class="row" >
        <div class="col-md-6 offset-md-3" style="background-color: #ebffab;margin-top: 25px;padding:20px;">
            {{{body}}}
        </div>
    </div>

</body>

</html>